<!DOCTYPE html>
<html lang="es">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= current_page.data.title || "Introduction to web design" %></title>

  <link rel="icon" type="image/png" href="/images/favicon.png">
  <%= stylesheet_link_tag "index" %>
</head>

  <body>
    <%= partial "partials/header" %>
    <%= yield %>
    <%= partial "partials/footer" %>
  </body>

</html>
