---
title: Introduction to web design
layout: layout-index
description:
---


%section.section-intro
  %h2 Introduction
  %ul.slide-list
    %li
      %a(href="slides/introduction-subject.html" target="_blank")
        Introduction to the subject
        = partial "partials/icon-play"
    %li
      %a(href="slides/introduction-web.html" target="_blank")
        Introduction to the WWW
        = partial "partials/icon-play"

  %h2 Interface design
  %ul.slide-list
    %li
      %a(href="slides/structuring-information.html" target="_blank")
        Structuring information (UX & AI)
        = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/visual-design-principles.html" target="_blank")
    -#     [COMPLETAR] Visual design principles
    -#     = partial "partials/icon-play"


  %h2 HTML Structure
  %ul.slide-list
    %li
      %a(href="slides/html-syntax.html" target="_blank")
        Syntax
        = partial "partials/icon-play"
    %li
      %a(href="slides/text-tags.html" target="_blank")
        Text tags
        = partial "partials/icon-play"
    %li
      %a(href="slides/images.html" target="_blank")
        Images
        = partial "partials/icon-play"
    %li
      %a(href="slides/hyperlinks.html" target="_blank")
        Hyperlinks
        = partial "partials/icon-play"
    %li
      %a(href="slides/block-tags.html" target="_blank")
        Block tags
        = partial "partials/icon-play"
    %li
      %a(href="slides/document-tags.html" target="_blank")
        Document tags
        = partial "partials/icon-play"


  %h2 CSS Basics
  %ul.slide-list
    %li
      %a(href="slides/css-syntax.html" target="_blank")
        Syntax
        = partial "partials/icon-play"
    %li
      %a(href="slides/basic-selectors.html" target="_blank")
        Basic selectors
        = partial "partials/icon-play"
    %li
      %a(href="slides/typographic-styles.html" target="_blank")
        Typographic styles
        = partial "partials/icon-play"
    %li
      %a(href="slides/color-opacity.html" target="_blank")
        Color and opacity
        = partial "partials/icon-play"
    %li
      %a(href="slides/anchor-styles.html" target="_blank")
        Anchor (hyperlink) styles
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/text-columns.html" target="_blank")
        Text columns
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/list-styles.html" target="_blank")
        List styles
        = partial "partials/icon-play"
    %li
      %a(href="slides/borders.html" target="_blank")
        Borders
        = partial "partials/icon-play"
    %li
      %a(href="slides/rounded-corners.html" target="_blank")
        Rounded corners
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/backgrounds.html" target="_blank")
        Backgrounds
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/shadows.html" target="_blank")
        Shadows
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/webfonts.html" target="_blank")
        Webfonts
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/units.html" target="_blank")
        CSS units
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/variables.html" target="_blank")
        Variables and files setup
        = partial "partials/icon-play"
    %li.future
      %a(href="slides/advanced-selectors.html" target="_blank")
        Advanced selectors
        = partial "partials/icon-play"

  %h2.future Box model and position
  %ul.slide-list
    %li
      %a(href="slides/box-model.html" target="_blank")
        Box model
        = partial "partials/icon-play"
    %li
      %a(href="slides/displays.html" target="_blank")
        Displays
        = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/overflows.html" target="_blank")
    -#     Overflows
    -#     = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/floats.html" target="_blank")
    -#     Floats
    -#     = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/position.html" target="_blank")
    -#     Position
    -#     = partial "partials/icon-play"

  -# %h2.future Alineación y retícula
  -# %ul.slide-list.future
  -#   %li
  -#     %a(href="slides/calc.html" target="_blank")
  -#       Cálculo de valores con calc()
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/flexbox.html" target="_blank")
  -#       Alineaciones con flexbox
  -#       = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/#" target="_blank")
    -#     [FALTA] Layouts con grid
    -#     = partial "partials/icon-play"

  -# %h2.future Diseño responsive
  -# %ul.slide-list.future
    -# %li
    -#   %a(href="slides/#" target="_blank")
    -#     [FALTA] Principios del diseño responsive
    -#     = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/media-queries.html" target="_blank")
    -#     Media queries y layout responsive
    -#     = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/patrones-navegacion.html" target="_blank")
    -#     Patrones de navegación responsive
    -#     = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/imagenes-responsive.html" target="_blank")
    -#     Imágenes responsive
    -#     = partial "partials/icon-play"

  -# %h2.future Transforma&shy;ciones y animaciones
  -# %ul.slide-list.future
  -#   %li
  -#     %a(href="slides/transformaciones.html" target="_blank")
  -#       Transformaciones
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/transiciones.html" target="_blank")
  -#       Transiciones
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/animaciones.html" target="_blank")
  -#       Animaciones
  -#       = partial "partials/icon-play"

  -# %h2 Publicación de páginas web
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Git y GitHub
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Publicación en GitHub Pages o Netlify
  -#       = partial "partials/icon-play"

  -# %h2 Sistemas de plantillas y contenidos
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Entornos de desarrollo, páginas dinámicas y estáticas
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Instalación de Node e 11ty
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Funciones habituales de 11ty
  -#       = partial "partials/icon-play"


  -# %h2 JavaScript, programación en el navegador
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/js-intro.html" target="_blank")
  -#       [REVISAR] Introducción a JavaScript
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] jQuery y los plugins
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Funciones habituales con JavaScript
  -#       = partial "partials/icon-play"

  -# %h2 Formularios
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Elementos de formulario
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Programación de un formulario
  -#       = partial "partials/icon-play"

  -# %h2 Tabulación y formatos multimedia
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Tablas
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Video y audio
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Páginas externas con iframes
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] SVG, archivos vectoriales
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Canvas
  -#       = partial "partials/icon-play"

  -# %h2 Emails y newsletters
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Principios de diseño para email
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Servicios de envío de newsletters
  -#       = partial "partials/icon-play"

  -# %h2 Accesibilidad y performance
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Principios de diseño accesible
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Etiquetas semánticas y aria-roles
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Diseño y desarrollo centrado en performance
  -#       = partial "partials/icon-play"