---
title: Introduction to web design
layout: layout-index
description:
---


%section.section-intro
  %h2 Introducción
  %ul.slide-list
    %li
      %a(href="slides/#" target="_blank")
        [FALTA] Introducción a la asignatura
        = partial "partials/icon-play"
    %li
      %a(href="slides/introduccion-web.html" target="_blank")
        Introducción a la web
        = partial "partials/icon-play"

  %h2 Interface design
  %ul.slide-list
    %li
      %a(href="slides/structuring-information.html" target="_blank")
        Structuring information (UX & AI)
        = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/visual-design-principles.html" target="_blank")
    -#     [COMPLETAR] Visual design principles
    -#     = partial "partials/icon-play"


  %h2.future Estructura HTML
  %ul.slide-list.future
    %li
      %a(href="slides/sintaxis-html.html" target="_blank")
        Sintaxis
        = partial "partials/icon-play"
    %li
      %a(href="slides/etiquetas-texto.html" target="_blank")
        Etiquetas de texto
        = partial "partials/icon-play"
    %li
      %a(href="slides/imagenes.html" target="_blank")
        Imágenes
        = partial "partials/icon-play"
    %li
      %a(href="slides/enlaces.html" target="_blank")
        Enlaces
        = partial "partials/icon-play"
    %li
      %a(href="slides/etiquetas-bloque.html" target="_blank")
        Etiquetas de bloque
        = partial "partials/icon-play"
    %li
      %a(href="slides/etiquetas-documento.html" target="_blank")
        Etiquetas de documento
        = partial "partials/icon-play"


  %h2.future Fundamentos de CSS
  %ul.slide-list.future
    %li
      %a(href="slides/sintaxis-css.html" target="_blank")
        Sintaxis
        = partial "partials/icon-play"
    %li
      %a(href="slides/selectores-basicos.html" target="_blank")
        Selectores básicos
        = partial "partials/icon-play"
    %li
      %a(href="slides/estilos-tipograficos.html" target="_blank")
        Estilos tipográficos
        = partial "partials/icon-play"
    %li
      %a(href="slides/color-opacidad.html" target="_blank")
        Color y opacidad
        = partial "partials/icon-play"
    %li
      %a(href="slides/estilos-enlaces.html" target="_blank")
        Estilos para enlaces
        = partial "partials/icon-play"
    %li
      %a(href="slides/columnas-texto.html" target="_blank")
        Columnas de texto
        = partial "partials/icon-play"
    %li
      %a(href="slides/estilos-listas.html" target="_blank")
        Estilos para listas
        = partial "partials/icon-play"
    %li
      %a(href="slides/bordes.html" target="_blank")
        Bordes
        = partial "partials/icon-play"
    %li
      %a(href="slides/esquinas-redondeadas.html" target="_blank")
        Esquinas redondeadas
        = partial "partials/icon-play"
    %li
      %a(href="slides/fondos.html" target="_blank")
        Fondos
        = partial "partials/icon-play"
    %li
      %a(href="slides/sombras.html" target="_blank")
        Sombras
        = partial "partials/icon-play"
    %li
      %a(href="slides/webfonts.html" target="_blank")
        Webfonts
        = partial "partials/icon-play"
    %li
      %a(href="slides/unidades.html" target="_blank")
        Unidades en CSS
        = partial "partials/icon-play"
    %li
      %a(href="slides/variables.html" target="_blank")
        Variables y organización de archivos
        = partial "partials/icon-play"
    %li
      %a(href="slides/selectores-avanzados.html" target="_blank")
        Selectores avanzados
        = partial "partials/icon-play"

  %h2.future Modelo de caja y posición
  %ul.slide-list.future
    %li
      %a(href="slides/modelo-caja.html" target="_blank")
        Modelo de caja
        = partial "partials/icon-play"
    %li
      %a(href="slides/displays.html" target="_blank")
        Displays
        = partial "partials/icon-play"
    %li
      %a(href="slides/overflows.html" target="_blank")
        Overflows
        = partial "partials/icon-play"
    %li
      %a(href="slides/floats.html" target="_blank")
        Floats
        = partial "partials/icon-play"
    %li
      %a(href="slides/position.html" target="_blank")
        Position
        = partial "partials/icon-play"

  %h2.future Alineación y retícula
  %ul.slide-list.future
    %li
      %a(href="slides/calc.html" target="_blank")
        Cálculo de valores con calc()
        = partial "partials/icon-play"
    %li
      %a(href="slides/flexbox.html" target="_blank")
        Alineaciones con flexbox
        = partial "partials/icon-play"
    -# %li
    -#   %a(href="slides/#" target="_blank")
    -#     [FALTA] Layouts con grid
    -#     = partial "partials/icon-play"

  %h2.future Diseño responsive
  %ul.slide-list.future
    -# %li
    -#   %a(href="slides/#" target="_blank")
    -#     [FALTA] Principios del diseño responsive
    -#     = partial "partials/icon-play"
    %li
      %a(href="slides/media-queries.html" target="_blank")
        Media queries y layout responsive
        = partial "partials/icon-play"
    %li
      %a(href="slides/patrones-navegacion.html" target="_blank")
        Patrones de navegación responsive
        = partial "partials/icon-play"
    %li
      %a(href="slides/imagenes-responsive.html" target="_blank")
        Imágenes responsive
        = partial "partials/icon-play"

  %h2.future Transforma&shy;ciones y animaciones
  %ul.slide-list.future
    %li
      %a(href="slides/transformaciones.html" target="_blank")
        Transformaciones
        = partial "partials/icon-play"
    %li
      %a(href="slides/transiciones.html" target="_blank")
        Transiciones
        = partial "partials/icon-play"
    %li
      %a(href="slides/animaciones.html" target="_blank")
        Animaciones
        = partial "partials/icon-play"

  -# %h2 Publicación de páginas web
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Git y GitHub
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Publicación en GitHub Pages o Netlify
  -#       = partial "partials/icon-play"

  -# %h2 Sistemas de plantillas y contenidos
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Entornos de desarrollo, páginas dinámicas y estáticas
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Instalación de Node e 11ty
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Funciones habituales de 11ty
  -#       = partial "partials/icon-play"


  -# %h2 JavaScript, programación en el navegador
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/js-intro.html" target="_blank")
  -#       [REVISAR] Introducción a JavaScript
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] jQuery y los plugins
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Funciones habituales con JavaScript
  -#       = partial "partials/icon-play"

  -# %h2 Formularios
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Elementos de formulario
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Programación de un formulario
  -#       = partial "partials/icon-play"

  -# %h2 Tabulación y formatos multimedia
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Tablas
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Video y audio
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Páginas externas con iframes
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] SVG, archivos vectoriales
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Canvas
  -#       = partial "partials/icon-play"

  -# %h2 Emails y newsletters
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Principios de diseño para email
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Servicios de envío de newsletters
  -#       = partial "partials/icon-play"

  -# %h2 Accesibilidad y performance
  -# %ul.slide-list
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Principios de diseño accesible
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Etiquetas semánticas y aria-roles
  -#       = partial "partials/icon-play"
  -#   %li
  -#     %a(href="slides/#" target="_blank")
  -#       [FALTA] Diseño y desarrollo centrado en performance
  -#       = partial "partials/icon-play"